PORT=5000

MONGO_URI=mongodb+srv:///vaibhavbeherawork_db_user:yHxnnYZQ56J74Z5@billsplitter-cluster.w6wpseq.mongodb.net/?retryWrites=true&w=majority&appName=billsplitter-cluster

CLIENT_URL=http://localhost:5173